

.selectContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonAdd {
    width: 100%;
    padding: 12px;
    background-color: #5cb85c;
    color: white;
    margin-top: 60px;
    border: none;
    border-radius: 4px;
}

@media screen and (max-width: 321px) {
	.selectContent {
        display: block;
    }
    
}