#root {
  margin: auto;
  text-align: center;
  font-size: 1rem;
  box-sizing: border-box;
  width:40vw ;
  border: 1px solid #333;
  padding: 20px 10px 20px;
  position: relative;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #4d4d4d;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;
}

@media screen and (max-width: 820px) {
	#root {
		margin: auto;
		text-align: center;
		font-size: 1rem;
		box-sizing: border-box;
		width:66vw ;
		border: 1px solid #333;
		padding: 20px 10px 20px;
		position: relative;
	}
}

@media screen and (max-width: 391px) {
	#root {
		margin: auto;
		text-align: center;
		font-size: 1rem;
		box-sizing: border-box;
		width:90vw ;
		border: 1px solid #333;
		padding: 20px 10px 20px;
		position: relative;
	}
}
